<a href="https://colab.research.google.com/github/arddrasoni-commits/Basics-of-Python/blob/main/experiment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DA using Python
## Experiment -2
### Python basics
#Arddra Soni
#25070123022
#ENTC: A1

In [ ]:
#First program
print("Hello, Welcome to Python programming")
print("My name is Arddra")

Hello, Welcome to Python programming
My name is Arddra

In [ ]:
#this is a comment
a = "aeroplane"

In [ ]:
#Multiple statements in one line
print("Hello"); print("what is your name?"); print("tom riddle")

Hello
what is your name?
tom riddle

In [ ]:
print("Hello.", end = " ")
print("I am learning Python.")

Hello. I am learning Python.

In [ ]:
#variables
x = 77
y = "string"

print(x)
print(y)

77
string

In [ ]:
#Variable names are case sensitive
a = "why are you running"
A = "i'm late!"

print (a)
print (A)

why are you running
i'm late!

In [ ]:
#Many values to multiple variables
x, y, z= "one", "two", 'three'
print(x); print(y); print (z)

one
two
three

In [ ]:
#Arithmetic Operashanzzzz
a = int(input("Enter First number: "))
b = int(input("Enter Second number: "))

Enter First number: 3
Enter Second number: 67

In [ ]:
#addition
print(a + b)

70

In [ ]:
#multiplication
print(a*b)

201

In [ ]:
#subtraction
print(a-b)

-64

In [ ]:
#division
print(a/b)

0.04477611940298507

In [ ]:
#understanding python datatypes
d = 34
e = "str"
f = 78.90
sword = False
i = 3 + 8j

print(type(d))
print(type(e))
print(type(f))
print(type(sword))
print(type(i))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'complex'>

In [ ]:
#CALCULATOR
a = int(input("Enter First number: "))
b = int(input("Enter Second number: "))

c = input("Enter Desired Operation (add, subtract, multiply, divide) :" )

if c == "add":
  print(a + b)
elif c == "subtract":
  print(a-b)
elif c == "multiply":
  print(a*b)
elif c == "divide":
  print(a/b)
else:
  print("invalid operation. run program again.")

Enter First number: 90
Enter Second number: 78
Enter Desired Operation (add, subtract, multiply, divide) :subtract
12

In [ ]:
a = input("Enter Name: ")
b = input("Enter Roll no.: ")
p = int(input("Enter marks for subject 1: "))
q = int(input("Enter marks for subject 2: "))
r = int(input("Enter marks for subject 3: "))
s = int(input("Enter marks for subject 4: "))
t = int(input("Enter marks for subject 5: "))

print("Average: " ,(p+q+r+s+t)/5)

Enter Name: ard
Enter Roll no.: 34
Enter marks for subject 1: 23
Enter marks for subject 2: 24
Enter marks for subject 3: 24
Enter marks for subject 4: 23
Enter marks for subject 5: 2
Average:  19.2

In [ ]:
#Area of rectangle
l = float(input("Enter length:"))
w = float(input("Enter width: "))
a = l*w
print("Area of Rectangle: ", a)

Enter length:3
Enter width: 4
Area of Rectangle:  12

In [ ]:
#Area of circle
r = float(input("Enter Radius: "))
pi = 3.14
a = pi*(r**2)
print("Area of Circle: ", a)

Enter Radius: 3
Area of Circle:  28.26

In [ ]:
#Tuples